* {
    margin: 0;
    padding: 0;
}

body.background {
    background-image: url('https://tweedekamer2021.stemwijzer.nl/gfx/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1.counter {
    float: right;
    padding: 0 50px;
}

div.startContainer {
    background-color: white;
    padding: 50px;
    width: 50%;
    height: 70vh;
    border-radius: 15px;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
}
div.startContainer h1 {
    font-weight: bold;
    font-size: 2.25em;
}
div.startContainer h2 {
    font-size: 1.4em;
}
div.startContainer button,
div.importanceContainer button {
    background-color: #233fff;
    border: 5px solid transparent;
    border-radius: 15px;
    padding: 25px 100px;
    
    color: white;
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}
div.startContainer button:hover,
div.importanceContainer button:hover {
    cursor: pointer;
    background-color: #001eef;
    transition: all .15s;
}



div.statementContainer,
div.importanceContainer,
div.errorContainer {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 115vh;
}
div.statementContainer > div {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
div.importanceContainer h1 {
    width: 65%;
    display: inline-block;
}
div.importanceContainer button {
    padding: 15px 20px;
    display: inline-block;
    
    position: relative;
    top: 100%;
    left: auto;
    transform: translateY(-50%);
}
div.importanceContainer,
div.errorContainer {
    height: auto;
}

div.errorContainer {
    padding: 30px 0;
    border-radius: 15px;
    background: #fcdbe1;
}
div.errorContainer h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #eb2045;
}
div.errorContainer h2 {
    text-align: center;
    font-size: 20px;
}



h1.title {
    color: #233fff;
    font-weight: 700;
}
h1.statement {
    font-weight: 500;
}
button[disabled] {
    background-color: #a3aeff !important;
    cursor: not-allowed !important;
}


div.buttonContainer {
    position: fixed;
    width: 100%;
    height: 125px;
    background-color: white;
    top: calc(100vh - 125px);
}
div.buttonContainer > div {
    display: flex;
    width: 70%;
    justify-content: space-around;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.option::before {
    top: 12px;
    left: 8px;
    transform: scale(.45);
    width: 24px;
    height: 24px;
    border-radius: 24px;
}
.option > .checkbox {
    width: 12px;
    height: 12px;
    background-color: grey;
}

.importanceContainer {
    /* background-color: white;
    width: 40%;
    height: 50vh;
    border-radius: 15px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%); */
}